<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" clear_params="true" output="screen">
        <rosparam file="$(find mynav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find mynav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mynav)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find mynav)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find mynav)/param/base_local_planner_params.yaml" command="load" />
    </node>
</launch>